/********************************
General Styling
********************************/

body {
  width: 960px;
  margin: 0 auto;
}

/********************************
Header Styling
********************************/

header {
  width: 960px;
  display: block;
  margin: 0 auto;
  padding: 20px 0px 10px 0px;
  height: 75px;
  border-bottom: 10px solid lightgrey;
}

.delicious {
  font-family: 'Pacifico', cursive;
  display: inline;
  font-size: 18px;
}

hgroup {
  float: left;
  padding-left: 15px;
}
.logo {
  float: left;
}

nav {
  float: right;
}

.nav {
  display: inline;
}

h4 {
  font-family: 'Francois One', sans-serif;
  font-size: 10px;
  margin: 0;
}
/********************************
Body Styling
********************************/

main {
  /*clear: both;*/
}

.chocolatePizza {
  font-family: 'Francois One', sans-serif;
  font-size: 30px;
  margin: 20px 0 0 0;
}

.datePosted {
  font-family: 'Francois One', sans-serif;
  font-size: 10px;
  color: #a6aeb1;
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.print {
  float: right;
}

.heroImg {
  width: 960px;
}

.content {
  margin: 20px 0;
}
/********************************
List Styling
********************************/

form {
  background-image: url("img/list-bg.png");
  height: 150px;
  padding: 77px 0;
}
.ulLeft {
float: left;
display: inline;
margin: 0;
padding-left: 10%;
}

.ulRight {
  float: right;
  display: inline;
  margin: 0;
  padding-right: 10%;
}

.ingredients {
  list-style: none;
  width: 325px;
  font-family: 'Patrick Hand', cursive;
  font-size: 18px;
}

/********************************
Author Bio
********************************/
section {
  clear: both;
  border-top: 10px solid grey;
}
section div {
  width: 60%;
  display: inline-block;
}
section img {
  float: left;
  margin-right: 15px;
  margin-top: 20px;
}
button {
  background-color: #BC7058;
  border: none;
  color: white;
  font-size: 14px;
  padding: 10px 25px;
  float: right;
  display: inline-block;
  margin-top: 35px;
}

/********************************
Footer Styling
********************************/
footer {
  clear: both;
  text-align: center;
}
footer hr {
  width: 450px;
  float: left;
  margin-top: 16px;
}
footer img {
  float: left;
  margin: 0px 12px;
}
footer p {
  clear: both;
  padding: 30px 0px;
}
